{% extends 'base.html' %}
{% block title %}
Feedback for {{story.title}}
{% endblock %} {% block header %}
Feedback
{% endblock %}
{% block content %}
<h2>
  Feedback Page for {{story.title}}
  </h2>
  <h3>chapter {{chapter.chapter_number}}: {{chapter.chapter_title}}</h3>
  {% if session.username != story.author %}
<p>You are posting as <strong>{{ session.username }}</strong>. <a href="">Not you?</a></p>
<form id="form" method="POST" action="{{url_for('post_feedback', story_to_read=story.url, chapter_number=chapter.chapter_number)}}"">
  <div class="form-group d-none">
    <label for="posted_by">Poster: </label>
    <input type="text" name="posted_by" id="posted_by" value="{{session.username}}" class="form-control">
  </div>
  <!--    Quill Editor    -->
  
  <div id="#toolbar"></div>
  <div id="editor">
    <p></p>
  </div>
  <!--    Hidden Input    -->
  <input id="hidden-input" name="editor" type="hidden" required>
  <!--   Hidden Button     -->
  <button type="submit">Post Feedback</button>
</form>
{% endif %}
  {% if feedback %}
  {% if story.author != session.username %} <h5>Previous posts: </h5> {% endif %}
  {% for post in feedback %}
  {% if post.fb_for_chapter|int == chapter.chapter_number|int %}
  <div class="postbox">
    <p><em>Posted by <a href="{{ url_for('profile', user=post.posted_by) }}">{% if post.posted_by == session.username %}you{% else %}{{ post.posted_by }}{% endif %}</a></em></p>
    {{ post.feedback_content|safe}}
  </div>
  {% endif %}
  {% endfor %}
  {% else %}
  <h5>No feedback yet for this story!</h5>
 <p>{% if story.author != session.username %}Be the first to comment on this story! {% endif %}</p>
  {% endif %}
{% endblock %}
{% block template_script %}<script src="{{ url_for('static', filename='js/myscript.js') }}"></script>{% endblock %}