<!--Privacy Policy-->
<div
  id="privacy-modal"
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Privacy Policy</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          We do not and never will sell or share your private details with
          anyone without your permission.
        </p>
        <p>
          Only the admins can see your email, this is so we can contact you in
          case there is an issue with a post you made. You can also use your
          email to sign in if you forgot your username.
        </p>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--Birthday-->
<div
  id="birthday-modal"
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Why do we ask for your birthday?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          We do not and never will sell or share your private details with
          anyone without your permission.
        </p>
        <p>
          We ask for your birthday so we can be sure to show you age-appropriate
          stories. You must be over 18 to read X-rated/adult stories. These are
          hidden for minors and anyone not logged in. You can choose to reveal
          your birthday on your profile if you wish, otherwise only the admins
          are able to see it.
        </p>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  id="ratings-modal"
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ratings Guide</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          This guide is meant to help you decide what rating is appropriate for
          your story. Though we hope that it's clear enough to be
          self-explanatory, we're happy to
          <a href="mailto:jo_hannah@outlook.com">answer</a>
          any questions you might have.
        </p>
        <p>
          If you wish us to look over a segment of your story and help you
          determine the appropriate rating, please send the segment in the body
          of the email (NOT as an attachment) to that email address for our
          review.
        </p>
        <p>
          Anything not permitted in these Guidelines at a particular category is
          unacceptable also at all preceding lower categories. Similarly,
          anything permitted at one level is acceptable at all higher levels.
        </p>
        <p>
          The ratings used on the Writers' Club are as follows:
        </p>
        <p><b> All Ages </b><br /></p>
        <p>
          Appropriate for all ages. This signifies that the story rated contains
          nothing most parents will consider offensive for even their youngest
          children to read or have read to them. Nudity, sex scenes, and scenes
          of drug use are absent; violence is minimal; dialogue may go beyond
          polite conversation but do not go beyond common everyday expressions.
        </p>
        <p>
          <b>PG - Parental Guidance Suggested</b>
        </p>
        <p>
          Some material may not be suitable for children, but is suitable for
          all registered users on the Writers club. This signifies that the
          story rated may contain some material parents might not like to expose
          to their young children - material that will clearly need to be
          examined or inquired about before children are allowed to read the
          story. Explicit sex scenes and scenes of drug use are absent; nudity,
          if present, is described only briefly, horror and violence do not
          exceed moderate levels.
        </p>
        <p>
          <b>PG-13 - Parents Strongly Cautioned.</b>
        </p>
        <p>
          Some material may be inappropriate for children under 13, but all
          material is appropriate for all registered users on FA. This signifies
          that the story rated may be inappropriate for pre-teens. Parents
          should be especially careful about letting their younger children read
          it. Rough or persistent violence is absent; violence towards fantasy
          characters and/or people rendered in cartoon-style is permitted;
          sexually-oriented nudity is generally absent, although sexual activity
          may be implied and non-sexually oriented nudity is permissible if not
          described in a graphic manner. Sexual references may reflect the
          familiarity of most adolescents today with sex education through
          school. Some scenes of drug use may be described and some use of the
          harsher sexually derived words may be included; the strongest terms
          will be acceptable only where justified by the context.
        </p>
        <p>
          <b>15 - Restricted to those 15 years old and over</b>
        </p>
        <p>
          No theme is prohibited, and there may be frequent use of strong
          language (eg 'fuck'), especially if justified by the context, although
          repeated use of graphic terms for body parts, in connection with
          action verbs, will merit an R-rating. There are no constraints on
          descriptions or depictions of nudify in a non-sexual context. Sexual
          activity may be portrayed but without strong detail. Violence may be
          strong but may not dwell on the infliction of pain or injury.
          Dangerous techniques (eg combat, hanging, suicide and self-harming)
          should not dwell on imitable detail. Strong threat and menace are
          permitted, as are written descriptions of gory material, but intensely
          gory images will merit an R-rating. Drug taking may be shown but the
          work as a whole must not promote or encourage drug misuse.
        </p>
        <p>
          <b>R - Restricted (Adult-only / NSFW)</b>
        </p>
        <p>
          Children under 17 should generally not read this fic without parental
          permission, as it contains adult material. An R may be assigned due
          to, among other things, a story's use of language, theme, violence,
          sex, or its portrayal of drug use. While there are no restrictions on
          nonsexually oriented nudity, as explained in the previous section, and
          while sexual activity and nudity may be portrayed, the use of the most
          graphic terms for such depictions is not permissible in R-rated
          stories. There may be occasional strong verbal references to sexual
          behaviour. Violence may be strong but should not dwell on detailed and
          realistic descriptions of the infliction of pain. Scenes of sexual
          violence must be handled carefully. Drug taking may be shown but
          instructive, imitable detail is unacceptable. Dangerous techniques
          (examples include: combat, hanging, suicides) should contain no
          instructive and imitable detail. We recommend use of the "fade to
          black" technique, instead of use of action verbs, in describing
          otherwise-explicit sexual interactions. We, or the author may place an
          additional warning for strong material at the top of a submission or
          in the header's Author Notes.
        </p>
        <p>
          <br /><br />
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            Close
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
